body
		{
			background-color:#3366FF;
		}
#logo
		{
			background-color:#6699CC;
			margin-left: auto;
			margin-right: auto;
			border:8px solid;
			border-radius: 44px;
			height:200px;
			width:984px;
			text-align:center;
			margin-bottom: 15px;
		}
#container
		{
			background-color:blue;
			width: 1000px;
		  height: 800px;
			margin-left: auto;
			margin-right: auto;
		}
p

		{
		 	font-size:100px;
		 	font-family:Verdana;
			margin-top:0px;
			margin-bottom:0px;
			margin-right:0px;
			margin-left:0px;

		}
#container p
		{
			font-size: 40px;
		}
#srodek
		{
			position:absolute;
			margin-bottom:200px;
			margin-left:230px;
			margin-right:250px;
			margin-top:190px;
			display:flex;
			text-wrap:wrap;
			direction: row;

		}
