#logo
		{
			background-color:#6699CC;
			margin-left: auto;
			margin-right: auto;
			border:8px solid;
			border-radius: 44px;
			height:200px;
			width:984px;
			text-align:center;
			margin-bottom: 15px;
		}
#strzalka
		{
		position:absolute;
		margin-left: 225px;
		}
#menuhor
		{
			width: 1000px;
			height: 100px;
			background-color: black;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			margin-bottom: 2px;
      border: 2px solid black;
		}
#menuhor  td
		{
			width: 200px;
			font-weight: bold;
			font-size: 25px;
		}
#page1
 		{
			background-color:#3366FF;
		}
#container1
    		{
    			width: 1000px;
    		  height: 800px;
    			margin-left: auto;
    			margin-right: auto;
    		}
p

    		{
    		 	font-size:100px;
    		 	font-family:Verdana;
    			margin-top:0px;
    			margin-bottom:0px;
    			margin-right:0px;
    			margin-left:0px;

    		}
#container p
    		{
    			font-size: 40px;
    		}
#srodek
    		{
    			position:absolute;
    			margin-bottom:200px;
    			margin-left:230px;
    			margin-right:250px;
    			margin-top:190px;
    			display:flex;
    			text-wrap:wrap;
    			direction: row;

    		}
#page2
		{
			background-color: green;
		}
#container2
    		{
    			width: 1616px;
    			height: 1000px;
    			margin-left: auto;
    			margin-right: auto;
    		}
#content
		{
      float: left;
      margin-left: auto;
      margin-right: auto;
			width: 994px;
			height: 1000px;
			background-color: #33FF33;
			border: 2px solid black;
		}
#menubok
		{
			float: left;
			border: 2px solid black;
			margin-right: 5px;
      margin-left: none;
			margin-top: 10px;
			background-color: white;
			width: 300px;
			height: 980px;
		}
#reklama
		{
			float: left;
			border: 2px solid black;
      margin-right: none;
			margin-left: 5px;
			margin-top: 10px;
			background-color: white;
			width: 300px;
			height: 980px;
		}
